<h2 class="text-center" style="margin: 25px 0px 25px 0px;">Categories</h2>

<div align="center">

<div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
</div>

<% @categories.each do |category| %>

    <div class="row justify-content-md-center">
        <div class="well col-md-4 col-md-offset-4">
          <div class="card text-center">
                <div class="card-header">
                <p class="article-title">
                <%= link_to "#{category.name}", category_path(category) %>
                </p> 
                </div>
           </div>
        </div>
    </div>


<% end %>
<div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
</div>
<div class="mb-4">
    </div>
</div>